# {{ ansible_managed }}

[General]
NumLock=on

[Autologin]
Relogin=false
Session=plasma.desktop
User=fablab

[General]
HaltCommand=
NumLock=on
RebootCommand=

[Theme]
Current=01-breeze-fedora
CursorTheme=Adwaita

[Users]
MaximumUid=65000
MinimumUid=1000
