# {{ ansible_managed }}

[Desktop Entry]
Name=Wolfgang
GenericName=ws11 RDP session
Comments=Open a RDP session on our Windows terminal server ws11
Keywords=rdp,remmina,windows,wolfgang,pass,auf,windoof,ws11,markus
Type=Application
Categories=Development
Exec=remmina --connect /home/fablab/.local/share/remmina/ws11-rdp.remmina
Terminal=false
StartupNotify=true
Icon=remmina-rdp
