# {{ ansible_managed }}

[remmina]
name=ws11
server=fablab-ws11.lab.fablab.uni-erlangen.de
domain=FAUAD
protocol=RDP
disablepasswordstoring=1
window_maximize=1
sound=local,44100,2
quality=9
cert_ignore=0
console=0
ssh_enabled=0
colordepth=0
ssh_auth=0
microphone=0
sharesmartcard=0
gateway_usage=0
shareprinter=0
disableclipboard=0
viewmode=4
ssh_loopback=0
disableautoreconnect=0
keyboard_grab=0
scale=0
