# {{ ansible_managed }}
#	$OpenBSD: sshd_config,v 1.101 2017/03/14 07:19:07 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/local/bin:/usr/bin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
#
Port 22

# listen only on ipv4
AddressFamily inet

# use protocol 2
Protocol 2
#ListenAddress 0.0.0.0
#ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# System-wide Crypto policy:
# If this system is following system-wide crypto policy, the changes to
# Ciphers, MACs, KexAlgoritms and GSSAPIKexAlgorithsm will not have any
# effect here. They will be overridden by command-line options passed on
# the server start up.
# To opt out, uncomment a line with redefinition of  CRYPTO_POLICY=
# variable in  /etc/sysconfig/sshd  to overwrite the policy.
# For more information, see manual page for update-crypto-policies(8).

# Logging
#SyslogFacility AUTH
SyslogFacility AUTHPRIV
LogLevel INFO

# Authentication:

# how long to wait for authentication before disconnecting the user
LoginGraceTime 30s

# don't allow login as root
PermitRootLogin no

# checks file permissions in user directories and disables login for that user
StrictModes yes

# maximum number of authentication attempts permitted per connection
MaxAuthTries 6

# maximum number of open sessions permitted per network connection
MaxSessions 10

# allow public key authentication
PubkeyAuthentication yes

# file that contains the public keys that can be used for user authentication
AuthorizedKeysFile	.ssh/authorized_keys

#AuthorizedPrincipalsFile none

AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# don't allow host based authentication
HostbasedAuthentication no

# don't ignore the user's known_hosts file for HostbasedAuthentication
IgnoreUserKnownHosts no

# don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# disable tunneled clear text passwords
PasswordAuthentication no

# never allow empty passwords
PermitEmptyPasswords no

# don't allow passwordauthentication through the challenge-response mechanism
ChallengeResponseAuthentication no

# Kerberos options
KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in Fedora and may cause several
# problems.
UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding yes
#GatewayPorts no

X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes

#PermitTTY yes
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# disable environment processing in order to
# disallow users to bypass access restrictions
PermitUserEnvironment no

# delay compression until the user has authenticated
Compression delayed

# don't send ClientAlive messages
ClientAliveInterval 0
ClientAliveCountMax 3

ShowPatchLevel no

# don't allow hostnames in ~/.ssh/authorized_keys from and sshd_config Match Host directives
UseDNS no

#PidFile /var/run/sshd.pid

# maximum number of concurrent unauthenticated connections to the SSH daemon
MaxStartups 10:30:100

# don't allow tun device forwarding
PermitTunnel no

#ChrootDirectory none

# don't append any additional text to the protocol banner
VersionAddendum none

# don't display a banner
Banner none

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# allow sftp-server as a subsystem
Subsystem	sftp	/usr/libexec/openssh/sftp-server
